*{
    margin: 0;
    padding: 0;
}

body{
    background: #6D8888;
}

canvas{
    align-items: center;
    background: black;
    border: 4px solid #9BC7C7;
}
h1{
    text-align: center;
    margin: 0;
    padding-top: 15px;

}
h4{ 
    display:inline-block;
}

#headers{
    text-align: center;
    padding-bottom: 15px;
}

#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
     width: 560px;
     height:550px;
     margin: 0px auto;
     
}

#startButton {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}